body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Roboto', Helvetica;
}

nav {
    background-color: white;
    height: 86px;
    position: relative;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid rgb(238, 238, 238);
    display: flex;
    flex-wrap: nowrap;
}

.headerLeft {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: auto;
}

.headerRight {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    padding: 0px;
    gap: 5px;
}

.loginBtn {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 86px;
    display: flex;
    cursor: pointer;
    transition: background-color 0.5s ease 0s;
}

.loginBtn .btn {
    font-size: 18px;
    font-weight: 400;
    color: rgb(54, 54, 54);
    font-family: Roboto;
    transition: font-size 0.5s ease 0s;
    background: none;
}

.cartBtn {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 86px;
    display: flex;
}

.cartBtn .fa-cart-shopping:hover {
    animation: 0.6s ease 0s 2 normal none running cartHover;
}

img {
    max-width: 100%;
    height: auto;
}

.multiImageGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.sliderTitle {
    color: rgb(28, 28, 28);
    font-size: 28px;
    font-family: Roboto;
    font-weight: 700;
    display: flex;
    flex: 1 1 0%;
    background: transparent;
    line-height: 32px;
}

.SliderProductHeader__Container {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 0px 12px;
}

.multiImageGrid .imageContainer {
    /* height: 188.235px;
    width: 128px; */
    width: auto;
    height: auto;
    cursor: pointer;
    border-radius: 0px;
}

.widgetCards {
    /* display: flex; */
    max-width: 100%;
    overflow: auto hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 20px;
    margin: 16px;
    padding: 0;
}

.widgetCards li {
    display: flex;
    /* height: 195px;
    width: 335.4px; */
    width: auto;
    height: auto;
    cursor: pointer;
}

@keyframes cartHover {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.cartBtn .fa-cart-shopping {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-right: 8px;
}

.cartBtn .btn {
    background-color: rgb(12, 131, 31);
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    height: 52px;
    width: 112px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-weight: 700;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.fa-magnifying-glass {
    width: 20px;
    height: 20px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 20px;
    color: rgb(31, 31, 31);
    margin: auto 0;
}

header {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

nav div {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: auto;
}

.verticalDivider {
    width: 1px;
    display: flex;
    background-color: rgb(242, 242, 242);
    height: 86px;
}

.searchbarContainer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    position: relative;
    background-color: inherit;
}

.searchBtn {
    width: 100%;
    padding: 0px 12px;
    height: 46px;
    display: flex;
    gap: 8px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 12px;
    background: rgb(248, 248, 248);
    color: rgb(130, 130, 130);
    box-shadow: none;
}

.locationTitle {
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
}

.locationSubtitle {
    display: flex;
    flex-direction: row;
}

.locationSubtitle .subText {
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    max-width: 210px;
    text-overflow: ellipsis;
}

.arrowContainer {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.downArrow {
    width: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgb(0, 0, 0);
    margin-left: 8px;
}

.locationContainer {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 86px;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    cursor: pointer;
}

.logo a {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 86px;
    width: 178px;
    display: flex;
}

.headerLeft {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: auto;
}

.seeAllBtn {
    line-height: 32px;
    font-size: 20px;
    color: rgb(12, 131, 31);
    cursor: pointer;
    font-family: Roboto;
}
button.btn:hover {
    opacity: 0.6;
}
.seeAllBtn:hover {
    text-decoration: underline;
}
body .owl-theme .owl-dots .owl-dot {
    display: none;
}
button.owl-prev span,
button.owl-next span {
    font-size: 20px;
    font-weight: 700;
}

footer {
    margin: 50px auto 10px;
}

.copyText {
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width:1260px) {
    .locationContainer {
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        height: 86px;
        display: flex;
        font-size: 16px;
        flex-direction: column;
        cursor: pointer;
        width: 320px;
    }

    .loginBtn {
        width: 162px;
    }

    .cartBtn {
        margin-right: 32px;
        margin-left: 12px;
    }
}

@media only screen and (max-width:767px) {
    nav {
        display: block;
        height: 220px;
    }

    .searchBtn {
        width: 90%;
    }

    .multiImageGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}